.ns-type-error{
    border: 4px solid #fbc02d;
    background: #d70419!important;
}
.ns-type-error p{
    color:white!important;
    font-size:20px;
}

.ns-type-warning{
    border: 4px solid #002fa7;
    background: #fbc02d!important;
}
.ns-type-warning p{
    color:#002fa7!important;
    font-size:20px;
}

.ns-type-notice{
    border: 4px solid black;
    background: white!important;
}
.ns-type-notice p{
    color:black!important;
    font-size:20px;
}